@font-face {
    font-family: 'Futura PT Bold';
    src: url(../fonts/futur.ttf);
}

@font-face {
    font-family: 'Futura PT Light';
    src: url(../fonts/futur.ttf);
}

@font-face {
    font-family: 'Futura PT Medium';
    src: url(../fonts/futur.ttf);
}

@font-face {
    font-family: 'Futura PT Book';
    src: url(../fonts/futur.ttf);
}

@font-face {
    font-family: 'Futura PT ExtraBold';
    src: url(../fonts/futur.ttf);
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url(../fonts/futur.ttf);
}

@font-face {
    font-family: 'Futura PT Heavy';
    src: url(../fonts/futur.ttf);
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
    box-sizing: border-box;
}

body{
    box-sizing:inherit;
    font-family: 'Futura';
    font-weight: 700;
}

.container{

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 0 10px;
}

ul{

}

li{

}

a{

}

