@font-face {
    font-family: 'Futura PT Bold';
    src: url(../fonts/FuturaPTBold.otf);
}

@font-face {
    font-family: 'Futura PT Light';
    src: url(../fonts/FuturaPTLight.otf);
}

@font-face {
    font-family: 'Futura PT Medium';
    src: url(../fonts/FuturaPTMedium.otf);
}

@font-face {
    font-family: 'Futura PT Book';
    src: url(../fonts/FuturaPTBook.otf);
}

@font-face {
    font-family: 'Futura PT ExtraBold';
    src: url(../fonts/FuturaPTExtraBold.otf);
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url(../fonts/FuturaPTDemi.otf);
}

@font-face {
    font-family: 'Futura PT Heavy';
    src: url(../fonts/FuturaPTHeavy.otf);
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html{
    box-sizing: border-box;
}

body{
    box-sizing:inherit;
    font-family: 'Futura PT Light';
    color:#111111;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing:inherit;
}

.container{
    max-width:1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container-big{
    max-width:1836px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0 0 0 10px;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration:none;
}

button{
    background-color: transparent;
    border: 0;
    padding: 0;
}

hr{
    margin: 0;
    width: 1110px;
    height: 1px;
    border:0;
    background:#EBEBEB;
}

/* HEADER */

.header{
    padding-top: 13px;
}

.header__heading{
    display:flex;
    justify-content:space-between;
    margin-bottom: 19px;
}

.header__heading-info{
    display:flex;
    max-width:300px;
    width:100%;
}

.header__heading-lang{
    max-width: 78px;
    display:flex;
    position:relative;
    align-items: center;
    gap: 21px;
    margin-right: 40px;
}

.header__heading-lang::before{
    content:'';
    width: 1px;
    height: 38px;
    background-color: #111;
    position:absolute;
    left:50%;
    top:20%;
}

.header__heading-btn{
    color:#A0A0A0;
    font-size: 18px;
    cursor:pointer;
}

.header__heading-btn--active{
    color:inherit;
    font-family:'Futura PT Bold';
}

.header__heading-contacts{

}

.header__heading-link{
    font-family: 'Futura PT Book';
    font-size: 16px;
    display:block;
}

.header__heading-call{
    font-family: 'Futura PT Bold';
    font-size: 14px;
    text-decoration:underline;
    color:#6F9033;
}


.header__heading-logo{
    max-width:234px;
    width:100%;
    text-align:center;
}

.header__heading-text{
    margin: 0;
    text-transform: uppercase;
    font-family:'Futura PT Book';
}

.header__heading-menu{
    max-width:350px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header__heading-form{
    position:relative;
}

.header__heading-input{
    width: 228px;
    height: 45px;
    padding: 11px 45px 13px 16px;
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    background: rgba(17, 17, 17, 0.00);
}

.header__heading-search{
    position:absolute;
    top:0;
    right:0;
    width:45px;
    height:45px;
    background: rgba(17, 17, 17, 0.02);
    border-radius: 10px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header__heading-icon{
    width: 16px;
    height: 16px;
}

.header__heading-user{
    width:45px;
    height:45px;
    background: rgba(17, 17, 17, 0.02);
    border-radius: 10px;
    border: 1px solid #EBEBEB;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

.header__heading-icon{
    width:16px;
    height:16px;
}

.header__heading-basket{

}

.nav{
    padding: 10px 0 17px;
}

.nav__list{
    display:flex;
    justify-content: space-evenly;
}

.nav__list-item{
    max-width: 165px;
    width: 100%;
    text-align: center;
}

.nav__list-link{
    font-family:'Futura PT Book';
    font-size: 18px;
    color:inherit;
}

.nav__list-link:hover{
    font-family:'Futura PT Demi';
    color:#0FBF4D;
}

/* /. HEADER */

/* MAIN */

/* PROMO */

.promo{

}

.swiper{

}

.mySwiper{
    height: 571px;
    overflow:hidden;
    border-radius: 15px;
    margin-bottom: 13px;
}

.swiper-wrapper{

}

.swiper-slide{
    background: #8E30A2;
    position: relative;
}

.swiper-slide__title{
    color:#fff;
    font-size: 80px;
    max-width:360px;
    font-family:'Futura PT ExtraBold';
    line-height: 79.7%; /* 63.76px */
    margin: 133px 0 39px;
}

.swiper-slide__text{
    max-width:227px;
    color: #FFF;
    font-family: Futura PT Book;
    font-size: 24px;
    line-height: 116.7%; /* 28.008px */
    margin-bottom: 36px;
    margin-left: 0;
}

.swiper-slide__link{
    display:block;
    width: 234px;
    height: 19px;
    padding: 13px;
    border-radius: 10px;
    background: #0FBF4D;
    box-shadow: 0px 4px 39px 0px rgba(16, 187, 76, 0.20);
    color: #FFF;
    text-align: center;
    font-family: 'Futura PT Bold';
    font-size: 16px;
    line-height: 116.7%; /* 18.672px */
}

.swiper-slide__img{
    position: absolute;
    top:0;
    right:0;
}

.swiper-button-prev,
.swiper-button-next{
    width: 52px;
    height: 52px;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    display:none;
}

.promo__inner{

}

.promo__inner-list{
    display:flex;
    justify-content:space-between;
}

.promo__inner-item{
    max-width:592px;
    width:100%;
    border-radius: 15px;
    height:434px;
    position: relative;

}

.promo__inner-item--boys{
    background:url(../images/boy-img.jpg) no-repeat;
    background-position:center;
    background-size:cover;
}

.promo__inner-item--girls{
    background:url(../images/girl-img.jpg) no-repeat;
    background-position:center;
    background-size:cover;
}

.promo__inner-item--newborns{
    background:url(../images/newborn-img.jpg) no-repeat;
    background-position:center;
    background-size:cover;
}

.promo__inner-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    padding: 24px 40px;
    cursor:pointer;
}

.promo__inner-link:hover .promo__inner-text{
    color: #0FBF4D;
    font-weight: 450;
}

.promo__inner-link:hover path{
    fill: #0FBF4D;
}

.promo__inner-text{
    color: #111;
    margin: 0;
    font-family: 'Futura PT Book';
    font-size: 50px;
    line-height: 79.7%; /* 39.85px */
}

/* /. PROMO */

/* /. MAIN */
