@model Katlen.WEB.ViewModels.RegisterModel;

<div id="registerFormContainer">

     <form asp-action="Register" asp-controller="Account" id="registerForm">
         <div class="form-group text-start">
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Email" class="window__input" placeholder="Почта"/>
         </div>
        <div class="form-group text-start">
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" class="window__input" placeholder="Имя" />
        </div>
        <div class="form-group text-start">
            <input asp-for="Phone" class="window__input" placeholder="Телефон" />
        </div>
        <div class="form-group text-start">
            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" class="window__input" placeholder="Пароль" />
        </div>
         <div class="form-group text-start">
             <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
             <input asp-for="ConfirmPassword" class="window__input" placeholder="Повторите пароль" />
         </div>

        <div class="window__approval">
            <input class="m-0" type="checkbox">
            <p class="window__text m-0">Я согласен с условиями <u>персональных данных</u></p>
        </div>

        <input class="but-link fut-b" type="submit" value="Зарегестрироваться">

     </form>

</div>

<script>
    $(document).ready(function () {
        $('#registerForm').submit(function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    $('#registerFormContainer').html(response);
                }
            });
        });
    });
</script>

