@model Katlen.WEB.ViewModels.RegisterModel

<form id="contactForm" class="window__form">
    Спасибо, @Model.Name! Вы успешно зарегестрированы.

    <button class="window__close-btn">
        <img src="~/images/closeBtn-icon.svg" alt="close-btn icon">
    </button>
</form>
