@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<hr>

<main>
    <section class="error">
        <div class="container-big">
            <div class="content error__content">
                <a class="but-link error__link m-0 fut-b" href="index.html">Вернуться на главную</a>
            </div>
        </div>
    </section>
</main>