@model Katlen.WEB.ViewModels.IndexViewModel;

@{
    ViewData["Title"] = "Каталог";
}

<hr>

<main>
    <section class="catalog">
        <div class="container-middle">
            <div id="catalog-wrapper">

            </div>
        </div><!-- /.container -->
    </section>

    <section class="wholesale">
        <div class="container">
            <div class="wholesale__wrapper">
                <div class="wholesale__wrapper-inner">
                    <h2 class="title wholesale__title fut-b">Детская одежда оптом</h2>
                    <p class="text wholesale__text m-0">
                        Детская одежда оптом от производителя официальный сайт Катлен – это только качественные вещи, которые предоставляет ведущая украинская фабрика, способные отлично подойти ребенку любого возраста, не раздражая его кожу. Все изделия выполнены из натуральных тканей, что позволяет каждому чувствовать себя уютно и комфортно. Катлен, как производитель детской одежды, занимается оптовыми продажами (крупный и мелкий опт) всех разновидностей товара в любом уголке Украины: Днепр, Киев, Львов, Запорожье, Харьков, Одесса и др.
                    </p>
                </div>
            </div><!-- /. wholesale__wrapper -->
        </div><!-- /. container -->
    </section><!-- /. wholesale -->

</main>
