

<main>

    <section class="promo personal__promo">
        <div class="container-middle">
            <p class="text catalog__text">
                <a asp-action="Index" asp-controller="Home" class="catalog__link">Главная</a>
                <span> / </span>
                <a class="catalog__link fut-b" href="personalArea.html">Личный кабинет</a>
            </p>
            <div class="promo__inner personal__inner">
                <aside class="personal__info box">
                    <h2 class="title personal__title">Глеб</h2>
                    <p class="text m-0">asabsiu@mail.ru</p>
                    <p class="text m-0">+375445997262</p>
                    <ul class="user-list mt-3 mb-3">
                        <li class="user-item">
                            <a class="text user-link">История покупок</a>
                        </li>
                        <li class="user-item">
                            <a class="text user-link">Заказы</a>
                        </li>
                        <li class="user-item">
                            <a class="text user-link">Нравится</a>
                        </li>
                        <li class="user-item">
                            <a class="text user-link">Товары в корзине</a>
                        </li>
                        <li class="user-item">
                            <a class="text user-link">Комментарии</a>
                        </li>
                        <li class="user-item">
                            <a class="text user-link">Доставка</a>
                        </li>
                    </ul>
                    <a asp-action="Logout" asp-controller="Account" class="btn btn-primary fs-5 w-100">Выйти</a>
                </aside>
                <div class="personal__content box">
                    <h1 class="title personal__title">Заказы</h1>
                    <div class="personal__content-inner">
                        <div class="personal__content-item">
                            <div class="personal__content-header">
                                <div class="personal__content-request">
                                    <h2 class="personal__content-title">Заказ от 26 марта</h2>
                                    <p class="text m-0">0133302201-0013</p>
                                </div>
                                <p class="text m-0">оплачено: <span class="products__sale-value fut-b">300 руб</span></p>
                            </div>
                            <hr class="personal__line">
                            <div class="personal__request-info">
                                <div class="personal__request-status">
                                    <p class="text m-0">Статус: <span class="request__status fut-b">Получен</span></p>
                                    <p class="text m-0">Дата доставки: 31 марта в 20:26</p>
                                </div>
                                <div class="personal__request-images">
                                    <img class="personal__request-img" src="images/costumTiger-img.jpg" alt="">
                                    <img class="personal__request-img" src="images/costumBrawl-img.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="personal__content-item">
                            <div class="personal__content-header">
                                <div class="personal__content-request">
                                    <h2 class="personal__content-title">Заказ от 26 марта</h2>
                                    <p class="text m-0">0133302201-0013</p>
                                </div>
                                <p class="text m-0">оплачено: <span class="products__sale-value fut-b">300 руб</span></p>
                            </div>
                            <hr class="personal__line">
                            <div class="personal__request-info">
                                <div class="personal__request-status">
                                    <p class="text m-0">Статус: <span class="request__status fut-b">Получен</span></p>
                                    <p class="text m-0">Дата доставки: 31 марта в 20:26</p>
                                </div>
                                <div class="personal__request-images">
                                    <img class="personal__request-img" src="images/costumTiger-img.jpg" alt="">
                                    <img class="personal__request-img" src="images/costumBrawl-img.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="personal__content-item">
                            <div class="personal__content-header">
                                <div class="personal__content-request">
                                    <h2 class="personal__content-title">Заказ от 26 марта</h2>
                                    <p class="text m-0">0133302201-0013</p>
                                </div>
                                <p class="text m-0">оплачено: <span class="products__sale-value fut-b">300 руб</span></p>
                            </div>
                            <hr class="personal__line">
                            <div class="personal__request-info">
                                <div class="personal__request-status">
                                    <p class="text m-0">Статус: <span class="request__status fut-b">Получен</span></p>
                                    <p class="text m-0">Дата доставки: 31 марта в 20:26</p>
                                </div>
                                <div class="personal__request-images">
                                    <img class="personal__request-img" src="images/costumTiger-img.jpg" alt="">
                                    <img class="personal__request-img" src="images/costumBrawl-img.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>
