@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<hr>

<main>
    <section class="gratitude">
        <div class="container-big">
            <div class="content gratitude__content">
                <div class="content__inner gratitude__inner">
                    <h1 class="title content__title fut-b">Спасибо за заказ!</h1>
                    <p class="text content__text fut-book">
                        Ваш номер заказа: GT44342<br>
                        Статус заказа Вы можете отследить в личном кабинете. Для этого ввойдите или зарегистрируйтесь - значок личного кабинета в правом верхнем углу.<br>
                        Если у Вас еще нет аккаунта, создайте его и заказы подтянутся автоматически.
                    </p>
                    <a class="but-link m-0 fut-b" href="index.html">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </section>
</main>