@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<hr>

<main>
    <section class="order">
        <div class="container">
            <h1 class="order__title fut-b">
                Оформить заявку
            </h1>
            <div class="order__check">
                <p class="text order__check-text order__check-text--active m-0 fut-b">Я зарегестрирован</p>
                <p class="text order__check-text m-0 fut-b">Новый покупатель</p>
            </div>
            <div class="order__inner">
                <div class="order__inner-item">
                    <img src="images/01.png" alt="first img" class="order__inner-num">
                    <div class="order__inner-content">
                        <h3 class="order__inner-title fut-m">Контактная информация</h3>
                        <form action="" class="order__inner-form">
                            <div class="order__headline">
                                <input type="text" class="window__input order__input" placeholder="Имя">
                                <input type="text" class="window__input order__input" placeholder="Фамилия">
                                <input type="text" class="window__input order__input" placeholder="Телефон">
                            </div>
                            <input class="window__input order__input" placeholder="Email">
                        </form>
                    </div>
                </div>

                <hr>

                <div class="order__inner-item">
                    <img src="images/02.png" alt="second img" class="order__inner-num">
                    <div class="order__inner-content">
                        <h3 class="order__inner-title fut-b">Способ доставки</h3>
                        <form action="" class="order__inner-form">
                            <div class="order__place">
                                <div class="order__place-region">
                                    <div class="order__place-item">
                                        <label for="region">Область</label>
                                        <input id="region" type="text" class="window__input order__input">
                                    </div>
                                    <div class="order__place-item">
                                        <label for="city">Город</label>
                                        <input id="city" type="text" class="window__input order__input">
                                    </div>
                                </div>
                                <div class="order__place-address">
                                    <div class="order__place-item">
                                        <label for="street">Улица</label>
                                        <input id="street" type="text" class="window__input order__input">
                                    </div>
                                    <div class="order__place-item">
                                        <label for="house">Дом</label>
                                        <input id="house" type="text" class="window__input order__input">
                                    </div>
                                    <div class="order__place-item">
                                        <label for="float">Квартира</label>
                                        <input id="float" type="text" class="window__input order__input">
                                    </div>
                                    <div class="order__place-item">
                                        <label for="index">Индекс</label>
                                        <input id="index" type="text" class="window__input order__input">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <hr>

                <div class="order__inner-item">
                    <img src="images/03.png" alt="third img" class="order__inner-num">
                    <div class="order__inner-box">
                        <div class="order__inner-content">
                            <h3 class="order__inner-title fut-b">Способ оплаты</h3>
                            <form action="" class="order__pay-form">
                                <div class="order__pay-item">
                                    <input id="bank" type="checkbox" class="order__checkbox">
                                    <label class="order__checkbox-label fut-m" for="bank">Банковская карта</label>
                                </div>
                                <div class="order__pay-item">
                                    <input id="money" type="checkbox" class="order__checkbox">
                                    <label class="order__checkbox-label fut-m" for="money">Наличными при получении</label>
                                </div>
                                <div class="order__pay-item">
                                    <input if="" type="checkbox" class="order__checkbox">
                                    <label class="order__checkbox-label fut-m" for="">Наличными при получении</label>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="order__products">
                            <h3 class="order__inner-title fut-b">Товары</h3>
                            <div class="product__card">
                                <div class="product__card-item">
                                    <div class="product__card-info">
                                        <div class="product__card-wrapper">
                                            <img src="images/cardProduct-img.png" alt="product img" class="product__card-img">
                                        </div>
                                        <div class="product__card-content">
                                            <h3 class="order__inner-title fut-l">Костюм Зоо</h3>
                                            <ul class="products__item-list">
                                                <li class="products__item-content">
                                                    <span class="products__item-tall">Рост (см)</span>
                                                    <hr>
                                                    <span class="products__item-value fut-m ">92-98</span>
                                                </li>
                                                <li class="products__item-content products__without-line">
                                                    <span class="products__item-tissue">Ткань</span>
                                                    <span class="products__item-value fut-m">шелк</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__card-price">
                                        <div class="product__card-quality">
                                            <h3 class="order__inner-title fut-l">Количество</h3>
                                            <input class="cards__item-input m-0" min="1" max="99" value="1" type="number">
                                        </div>
                                        <div class="product__main-price">
                                            <h3 class="order__inner-title fut-l">Цена</h3>
                                            <div class="product__main-sale">
                                                <span class="products__full-price fut-b">
                                                    300 ₴
                                                    <svg class="cross-line" xmlns="http://www.w3.org/2000/svg" width="62" height="18" viewBox="0 0 62 18" fill="none">
                                                        <path d="M61 1L1 17" stroke="#FF003D" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: #ff1a50;"></path>
                                                    </svg>
                                                </span>
                                                <span class="products__sale-value fut-b">250 ₴</span>
                                            </div>
                                        </div><!-- /. product__main-price -->
                                    </div>
                                    <img src="images/TrashCan-img.png" alt="trash can img" class="product__card-can">
                                </div><!-- /. product__card-item -->

                                <div class="product__card-item">
                                    <div class="product__card-info">
                                        <div class="product__card-wrapper">
                                            <img src="images/costumTiger-img.jpg" alt="product img" class="product__card-img">
                                        </div>
                                        <div class="product__card-content">
                                            <h3 class="order__inner-title fut-l">Костюм Зоо</h3>
                                            <ul class="products__item-list">
                                                <li class="products__item-content">
                                                    <span class="products__item-tall">Рост (см)</span>
                                                    <hr>
                                                    <span class="products__item-value fut-m ">92-98</span>
                                                </li>
                                                <li class="products__item-content products__without-line">
                                                    <span class="products__item-tissue">Ткань</span>
                                                    <span class="products__item-value fut-m">шелк</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product__card-price">
                                        <div class="product__card-quality">
                                            <h3 class="order__inner-title fut-l">Количество</h3>
                                            <input class="cards__item-input m-0" min="1" max="99" value="1" type="number">
                                        </div>
                                        <div class="product__main-price">
                                            <h3 class="order__inner-title fut-l">Цена</h3>
                                            <div class="product__main-sale">
                                                <span class="products__full-price fut-b">
                                                    300 ₴
                                                    <svg class="cross-line" xmlns="http://www.w3.org/2000/svg" width="62" height="18" viewBox="0 0 62 18" fill="none">
                                                        <path d="M61 1L1 17" stroke="#FF003D" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: #ff1a50;"></path>
                                                    </svg>
                                                </span>
                                                <span class="products__sale-value fut-b">250 ₴</span>
                                            </div>
                                        </div><!-- /. product__main-price -->
                                    </div>
                                    <img src="images/TrashCan-img.png" alt="trash can img" class="product__card-can">
                                </div><!-- /. product__card-item -->
                            </div>
                            <div class="order__request">
                                <ul class="products__item-list order__final-list">
                                    <li class="products__item-content order__final-item">
                                        <span class="products__item-price fut-l">Цена:</span>
                                        <span class="products__sale-value fut-b">300 руб</span>
                                    </li>
                                    <li class="products__item-content order__final-item">
                                        <span class="products__item-price fut-l">Скидка:</span>
                                        <span class="products__sale-value fut-l">50</span>
                                    </li>
                                    <li class="products__item-content order__final-item">
                                        <span class="products__item-price fut-b">Итого:</span>
                                        <span class="products__sale-value fut-b">250 руб</span>
                                    </li>
                                </ul>
                                <a class="but-link fut-b m-0">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
